@import '../../utils/fonts.scss';
@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.dropdown {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: Mont, 'sans-serif';
  position: relative;
  width: 100%;

  @include for-tablet() {
    width: auto;
  }

  &__label {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 4px;
    color: $color-secondary;
  }

  &__wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-family: Mont, 'sans-serif';
    position: relative;
  }

  &__whitespace {
    height: 4px;
    position: relative;
  }

  &__button {
    box-sizing: border-box;
    font-family: Mont, 'sans-serif';
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    height: 40px;
    padding-left: 12px;
    padding-right: 40px;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    background: url(../../../public/icons/arrow-down.svg) no-repeat;
    background-position: right 12px top 50%;
    border: $color-icons 1px solid;
    outline: none;

    &--open {
      background-image: url(../../../public/icons/arrow-up.svg);
      border-color: $color-primary;
    }
  }

  &__options {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: $color-white;
    border: 1px solid $color-elements;
    backdrop-filter: blur(2px);

    &--open {
      display: block;
    }
  }
}

.options {
  &__option {
    display: flex;
    font-weight: 500;
    color: $color-secondary;
    background: none;
    height: 32px;
    align-items: center;
    padding-left: 8px;

    &:hover {
      background-color: $color-hover-bg;
      color: $color-primary;
    }
  }
}

.dark-mode {
  .dropdown__label {
    color: $color-dark-secondary;
  }
  .dropdown__button {
    color: $color-dark-white;
    background-color: $color-dark-shadow;
    border-color: $color-dark-shadow;
  }

  .options {
    font-weight: 700;
    color: $color-dark-white;
    background-color: $color-dark;
  }
  .options__option {
    font-weight: 600;

    &:hover {
      color: $color-dark-white;
      background-color: $color-dark-shadow;
    }
  }
}
