@import '../../utils/fonts.scss';
@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.homePage {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;

  &__section:not(:last-child) {
    margin: 0 auto;
    margin-bottom: 56px;
    @include for-tablet() {
      margin-bottom: 64px;
    }
    @include for-desktop() {
      margin-bottom: 80px;
    }
  }

  &__slider {
    width: 100%;
  }

  &__title {
    text-align: left;
    font-size: 32px;
    font-weight: 800;
    font-family: Mont, 'sans-serif';
    line-height: 41px;
    color: $color-primary;
    margin-bottom: 24px;
  }

  .title {
    padding: 0;
    color: $color-primary;

    @include for-phone() {
      margin: 24px 16px 0;
      font-size: 32px;

      & h1 {
        font-size: 32px;
        font-weight: 800;
        font-family: Mont;
        line-height: 41px;
        margin: 0;
      }
    }

    @include for-tablet() {
      font-size: 48px;
      line-height: 56px;
      margin-bottom: 32px;
    }

    @include for-desktop() {
      margin-bottom: 56px;
    }
  }

  &__carousel {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__category {
    width: 100%;
  }
}

.dark-mode .homePage,
.dark-mode .homePage .homePage__title {
  color: $color-dark-white;
}
.dark-mode .newProducts .productpage {
  padding-left: 300px;
  border: 10px solid red;
  height: 100px;
  width: 100px;
}
