@import '../../utils/fonts.scss';
@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.pp {
  @include for-desktop() {
    @include desktop-grid();
  }

  @include for-tablet() {
    @include grid-tablet();
  }

  @include for-phone() {
    @include grid-phone();
  }

  &_header {
    display: flex;
    gap: 8px;
    font-family: Mont;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    @include for-desktop() {
      grid-column: 1 / 24;
    }
    @include for-tablet() {
      grid-column: 1 / 12;
    }
    @include for-phone() {
      grid-column: 1 / 5;
    }

    &_icon {
      height: 16px;
      width: 16px;
    }
    &_category {
      color: $color-primary;
    }
    &_name {
      color: $color-secondary;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &_return {
    display: flex;
    gap: 4px;
    margin-top: 40px;
    @include for-desktop() {
      grid-column: 1 / 24;
    }
    @include for-tablet() {
      grid-column: 1 / 12;
    }
    @include for-phone() {
      margin-top: 24px;
      grid-column: 1 / 5;
    }

    &_icon {
      width: 16px;
      height: 16px;
    }
    &_text {
      font-family: Mont;
      font-size: 12px;
      font-weight: 700;
      line-height: 15px;
      letter-spacing: 0em;
      color: $color-secondary;
    }
  }

  &_title {
    margin-top: 16px;
    font-family: Mont;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.01em;
    @include for-desktop() {
      grid-column: 1 / 24;
    }
    @include for-tablet() {
      grid-column: 1 / 12;
    }
    @include for-phone() {
      font-size: 22px;
      line-height: 31px;
      letter-spacing: 0em;

      grid-column: 1 / 5;
    }
  }

  &_photos {
    margin-top: 40px;
    @include for-desktop() {
      grid-column: 1 / 13;
    }
    @include for-tablet() {
      grid-column: 1 / 7;
    }
    @include for-phone() {
      grid-column: 1 / 5;
      margin-top: 32px;
    }
  }
  &_variants {
    margin-top: 40px;

    @include for-desktop() {
      grid-column: 14 / 21;
    }
    @include for-tablet() {
      grid-column: 8 / 13;
    }
    @include for-phone() {
      grid-column: 1 / 5;
    }
  }

  &_about {
    @include for-desktop() {
      grid-column: 1 / 12;
    }
    @include for-tablet() {
      grid-column: 1 / 12;
    }
    @include for-phone() {
      grid-column: 1 / 5;
    }
  }
  &_tech-specs {
    @include for-desktop() {
      margin-top: 80px;
      grid-column: 14 / 25;
    }
    @include for-tablet() {
      margin-top: 64px;
      grid-column: 1 / 13;
    }
    @include for-phone() {
      margin-top: 56px;
      grid-column: 1 / 5;
    }
  }

  &_reccomended_goods {
    @include for-desktop() {
      grid-column: 1 / 24;
    }
    @include for-tablet() {
      grid-column: 1 / 12;
    }
    @include for-phone() {
      grid-column: 1 / 5;
    }
  }
}
