@import '../../../utils/fonts.scss';
@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.newProducts {
  max-width: 1136px;
  height: 572px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 80px;
  font-family: Mont;

  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;

    &--title {
      color: black;
      font-weight: 800;
      font-size: 32px;
      @include for-tablet {
        font-size: 32px;
      }
      @include for-phone {
        font-size: 24px;
        margin-left: 5%;
      }
    }
  }

  &__header--btn {
    display: flex;
    gap: 16px;
    margin-right: 16px;
    @include for-tablet{
      margin-right: 0px;
    }
    @include for-desktop {
      margin-right: 0px;
    }
  }

  &__button {
    width: 32px;
    height: 32px;
    border: 1px solid rgb(0, 0, 0);
    transition: border 0.3s;
    cursor: pointer;
    background-color: transparent;

    &:hover {
      border: 1px solid gray;
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__content {
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    width: calc((180px + 16px) * 2);

    @include for-tablet {
      width: calc((190px + 16px) * 3);
    }

    @include for-desktop {
      width: calc((272px + 16px) * 4);
    }
  }

  &__list {
    width: 100%;
    display: flex;
    gap: 16px;
    transition-duration: 1s;
  }
}

.is-added {
  border: 1px solid gray;
}
