@import '../../utils/fonts.scss';
@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';
.favourites {
  width: 100%;
  &__header {
    display: flex;
    flex-direction: column;
    font-family: Mont;
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0em;
    @include for-phone() {
      grid-column: 1 / 5;
    }
    @include for-tablet() {
      grid-column: 1 / 12;
    }
    @include for-desktop() {
      grid-column: 1 / 24;
    }
    &-icon {
      height: 16px;
      width: 16px;
    }
    &-category {
      color: $color-primary;
    }
  }
  &__title {
    margin-top: 24px;
    font-size: 32px;
    line-height: 41px;
    font-family: Mont, 'sans-serif';
    font-weight: 800;
    line-height: 56px;
    letter-spacing: -0.01em;
    margin-bottom: 8px;
    @include for-tablet() {
      margin-top: 40px;
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__count {
    font-family: Mont;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    color: $color-secondary;
    margin-bottom: 32px;
    @include for-tablet {
      margin-bottom: 40px;
    }
  }

  &__content {
    display: grid;
    gap: 40px 16px;
    grid-template-columns: 1fr;

    @include for-tablet() {
      grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    }

    @include for-desktop() {
      grid-template-columns: repeat(4, 272px);
    }
  }
}

.dark-mode {
  .favourites__title {
    color: $color-dark-white;

    &-count {
      color: $color-dark-secondary;
    }
  }
}
