@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.title {
  font-family: Mont, 'sans-serif';
  font-weight: 800;
  font-size: 22px;
  color: $color-primary;
  padding-bottom: 16px;
  border-bottom: $color-elements solid 1px;
  margin-bottom: 30px;

  @include for-phone() {
    font-weight: 700;
    font-size: 20px;
  }
}
