@import '../../../utils/fonts.scss';
@import '../../../utils/variables.scss';
@import '../../../utils/mixins.scss';

.slider {
  transition: all 0.3s;
  &__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
    font-family: Mont;

    &--title {
      color: black;
      font-weight: 800;
      font-size: 32px;
      @include for-tablet {
        font-size: 32px;
      }
      @include for-phone {
        font-size: 24px;
        margin-left: 5%;
      }
    }
  }

  &__header--btn {
    display: flex;
    gap: 16px;
    margin-right: 16px;
  }

  &__button {
    width: 32px;
    height: 32px;
    border: 1px solid rgb(0, 0, 0);
    transition: border 0.3s;
    cursor: pointer;
    transition: all 0.3s;
    background-color: transparent;

    &-left {
      background-image: url(../../../../public/icons/arrow-left.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &-right {
      background-image: url(../../../../public/icons/arrow-right.svg);
      background-repeat: no-repeat;
      background-position: center;
    }

    &:not(:disabled) {
      &:hover {
        border: 1px solid gray;
      }
    }

    &:disabled {
      border: 1px solid gray;
      cursor: not-allowed;
      opacity: 0.5;
    }
  }

  &__content {
    margin: 0 auto;
    height: 100%;
    overflow: hidden;
    width: calc((180px + 16px) * 2);

    @include for-tablet {
      width: calc((190px + 16px) * 3);
    }

    @include for-desktop {
      width: calc((272px + 16px) * 4);
    }
  }

  &__list {
    width: 100%;
    display: flex;
    gap: 16px;
    transition-duration: 1s;
  }
}

.dark-mode {
  .slider__header--title {
    color: $color-dark-white;
  }

  .slider__button {
    border-color: $color-dark-shadow;

    &-left {
      background-image: url(../../../../public/icons/arrow-left-white.svg);
      background-color: $color-dark-shadow;
      background-repeat: no-repeat;
      background-position: center;
      border: none;

      &:hover {
        background-color: $color-dark-icons;
        border: none;
      }
    }

    &-right {
      background-image: url(../../../../public/icons/arrow-right-white.svg);
      background-color: $color-dark-shadow;
      background-repeat: no-repeat;
      background-position: center;
      border: none;

      &:hover {
        background-color: $color-dark-icons;
        border: none;
      }
    }

    &:disabled {
      border: 1px solid gray;
      cursor: not-allowed;
      opacity: 0.5;
      background-color: transparent;
    }
  }
}
