@import '../../utils/mixins.scss';

.product-page_layout_container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  @include for-desktop() {
    padding: 24px 32px 81px 32px;
  }
  @include for-tablet() {
    padding: 24px 24px 64px 24px;
  }
  @include for-phone() {
    padding: 24px 16px 56px 16px;
  }
}

.layout_catalog_container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0px 32px 0px;
  background-color: white;

  @include for-desktop() {
    padding: 24px 32px 80px 32px;
  }
  @include for-tablet() {
    padding: 24px 24px 64px 24px;
    width: 100%;
  }
  @include for-phone() {
    width: 100%;
    padding: 24px 16px 64px 16px;
  }
}

.app__layout {
  position: relative;
  min-height: 100vh;

  &-children {
    padding-bottom: 259px;

    @include for-desktop {
      padding-bottom: 95px;
    }

    @include for-tablet {
      padding-bottom: 64px;
    }
  }

  &-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

.layout_cart_container {
  max-width: 1200px;
  margin: 0 auto;
  @include for-desktop {
    padding: 40px 32px 80px 32px;
  }
  @include for-tablet {
    padding: 40px 24px 64px 24px;
  }
  @include for-phone {
    padding: 40px 16px 56px 16px;
  }
}

.layout__favourites {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 32px 0px 32px 0px;
  background-color: white;

  @include for-desktop() {
    padding: 24px 32px 80px 32px;
  }
  @include for-tablet() {
    padding: 24px 24px 64px 24px;
    width: 100%;
  }
  @include for-phone() {
    width: 100%;
    padding: 24px 16px 64px 16px;
  }
}
