@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.carousel {
  display: flex;
  position: relative;
  height: 400px;
  max-width: 1136px;
  margin-bottom: 40px;
  gap: 18px;

  .carousel__buttons-right {
    width: 32px;
    font-size: 45px;
    color: black;
    cursor: pointer;
    height: 100%;
    transform: translateY(0, -50%);
    z-index: 1;
    display: none;

    &-vector {
      rotate: 90deg;
    }
  }

  .carousel__buttons-left {
    width: 32px;
    font-size: 45px;
    color: black;
    cursor: pointer;
    z-index: 1;
    height: 100%;
    display: none;

    &-vector {
      rotate: -90deg;
    }
  }

  &__slides {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
    border: 10px solid red;
  }

  &__tabs {
    position: absolute;
    transform: translateY(0, -50%);
    bottom: -18px;
    right: 43%;
    display: flex;
    justify-content: center;

    &-tab {
      background-color: $color-elements;
      height: 4px;
      width: 14px;
      margin: 0 3px;
      cursor: pointer;
      font-size: 20px;
      transition: all 0.4s;
    }
  }
}

.tab-active {
  background-color: $color-primary;
}
