@import '../../../utils/mixins.scss';
@import '../../../utils/variables.scss';

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-height: 432px;
  transition: all 0.3s;

  @include for-phone {
    margin-left: 20px;
  }

  @include for-tablet {
    max-width: 700px;
    gap: 18px;
  }

  @include for-desktop {
    max-width: 100%;
    gap: 18px;
  }

  &__container {
    display: flex;
    gap: 18px;

    &-buttons {
      width: 30px;
      font-size: 45px;
      color: black;
      cursor: pointer;
      display: none;
      background-color: $color-white;
      border: 1px solid $color-icons;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.3s;

      @include for-tablet {
        display: block;
      }
    }
  }

  &__slides {
    padding-bottom: 320px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.4s;
    width: 100%;

    @include for-tablet {
      background-size: cover;
      padding-bottom: 250px;
    }

    @include for-desktop {
      padding-bottom: 432px;
    }
  }

  &__tabs {
    transform: translateY(0, -50%);
    display: flex;
    justify-content: center;

    &-tab {
      background-color: $color-elements;
      height: 4px;
      width: 14px;
      margin: 0 3px;
      cursor: pointer;
      font-size: 20px;
      transition: all 0.4s;
    }
  }
}

.button-right {
  background-image: url(../../../../public/icons/arrow-right.svg);

  @include for-desktop {
    background-size: 20px;
  }
}

.button-left {
  background-image: url(../../../../public/icons/arrow-left.svg);

  @include for-desktop {
    background-size: 20px;
  }
}

.tab-active {
  background-color: $color-primary;
}

.dark-mode {
  .carousel__container-buttons {
    border-color: $color-dark-shadow;
    background-color: $color-dark-shadow;
  }
  .carousel__container-buttons:hover {
    background-color: $color-dark-icons;
  }

  .button-left {
    background-image: url(../../../../public/icons/arrow-left-white.svg);

    @include for-desktop {
      background-size: 20px;
    }
  }

  .button-right {
    background-image: url(../../../../public/icons/arrow-right-white.svg);

    @include for-desktop {
      background-size: 20px;
    }
  }

  .carousel__tabs-tab {
    background-color: $color-dark-element;
  }

  .tab-active {
    background-color: $color-dark-white;
  }
}
