@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.gallery {
  display: flex;
  @include for-phone() {
    flex-direction: column-reverse;
  }

  &_allImages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 80px;

    @include for-phone() {
      flex-direction: row;
      width: 100%;
      justify-content: center;
      margin-top: 16px;
    }

    &_item {
      object-fit: contain;
      border: 1px solid $color-elements;

      @include for-desktop() {
        height: 80px;
        width: 80px;
      }
      @include for-tablet() {
        height: 35px;
        width: 35px;
      }
      @include for-phone() {
        height: 49px;
        width: 52px;
      }

      &:hover {
        border: 1px solid $color-primary;
      }
    }
  }

  &_selectedImage {
    height: 288px;
    width: 100%;
    object-fit: contain;
    @include for-tablet() {
          height: 287px;
    }
    @include for-desktop() {
      height: 464px;
    }
  }
}
