@import '../../utils/fonts.scss';
@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.no-scroll {
  overflow: hidden;
}

.header {
  @include for-phone {
    display: none;
  }

  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid $color-elements;

  @include for-desktop() {
    height: 64px;
  }

  &__logo {
    flex: 1;
    img {
      height: 22px;
      padding-left: 16px;
      padding-right: 32px;

      @include for-desktop() {
        height: 28px;
        padding-left: 24px;
        padding-right: 48px;
      }
    }

    &__item {
      width: 64px;
      height: 22px;
      @include for-desktop() {
        width: 80px;
        height: 28px;
      }
    }
  }

  &__container {
    display: flex;
    align-items: center;
    height: 48px;

    @include for-desktop() {
      height: 64px;
    }
  }

  &__nav {
    display: flex;

    &__list {
      display: flex;
      gap: 32px;
      list-style-type: none;
      align-items: center;
      @include for-desktop() {
        gap: 64px;
      }

      &__item {
        display: flex;
        height: 100%;
        align-items: center;
        &__link {
          box-sizing: content-box;
          line-height: 48px;
          color: $color-secondary;
          text-decoration: none;
          font-family: Mont;
          font-size: 12px;
          font-style: normal;
          font-weight: 800;
          letter-spacing: 0.48px;
          text-transform: uppercase;

          @include for-desktop() {
            line-height: 64px;
          }
        }
      }
    }
  }

  &__buttons {
    display: flex;
    border-bottom: 1px solid $color-elements;

    &__like {
      background-image: url('../../../public/icons/heart-like.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 48px;
      background-color: $color-white;
      border-left: 1px solid $color-elements;

      @include for-phone() {
        display: none;
      }

      @include for-desktop() {
        height: 64px;
        width: 64px;
      }
    }

    &__cart {
      background-image: url('../../../public/icons/bag.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 48px;
      height: 48px;
      background-color: $color-white;
      border-left: 1px solid $color-elements;

      @include for-desktop() {
        height: 64px;
        width: 64px;
      }
      @include for-phone() {
        display: none;
      }
      &__circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $color-red;
        color: #fff;
        font-size: 12px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
  }
}

.header__link:hover,
.header__link.active {
  position: relative;
  color: $color-primary;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    width: auto;
    background-color: $color-primary;
  }
}
