@import '../../utils/fonts.scss';
@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.header {
  background-color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  border-bottom: 1px solid $color-elements;

  @include for-phone() {
    height: auto;
  }

  @include for-tablet() {
    height: 48px;
  }

  &__logo {
    margin: 18px 48px 18px 24px;
    flex: 1;
    @include for-tablet() {
      margin: 13px 32px 13px 16px;
    }
    @include for-phone() {
      display: none;
      margin-top: 10px 0;
    }
    &__item {
      width: 64px;
      height: 22px;
      @include for-desktop() {
        width: 80px;
        height: 28px;
      }
    }
  }

  &__container {
    display: flex;
  }

  &__nav {
    display: flex;

    &__list {
      display: flex;
      gap: 64px;
      list-style-type: none;
      align-items: center;
      @include for-tablet() {
        gap: 32px;
      }
      @include for-phone() {
        display: none;
        margin-top: 10px 0;
      }

      &__item {
        &__link {
          color: $color-secondary;
          text-decoration: none;
          font-family: Mont;
          font-size: 12px;
          font-style: normal;
          font-weight: 800;
          line-height: 11px;
          letter-spacing: 0.48px;
          text-transform: uppercase;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    height: 65px;
    @include for-phone() {
      display: none;
    }

    @include for-tablet() {
      height: 49px;
    }

    &__like {
      position: relative;
      background-image: url('../../../public/icons/heart-like.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      background-color: $color-white;
      border: 1px solid $color-elements;
      border-bottom: none;
      cursor: pointer;

      @include for-phone() {
        display: none;
      }

      @include for-tablet() {
        height: 48px;
        width: 48px;
      }

      &-counter {
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 2.5px solid $color-red;
        font-size: 9px;
        font-weight: 700;
        background-color: $color-red;
        color: white;
        position: absolute;
        left: 50%;
        top: 30%;
      }
    }

    &__cart {
      background-image: url('../../../public/icons/bag.svg');
      background-repeat: no-repeat;
      background-position: center;
      width: 64px;
      height: 64px;
      background-color: $color-white;
      border-left: 1px solid $color-elements;

      @include for-tablet() {
        height: 48px;
        width: 48px;
      }
      @include for-phone() {
        display: none;
      }
    }
  }
}

.burger-menu-container {
  display: none;

  @include for-phone() {
    display: block;
  }
}
