@mixin for-desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-tablet() {
  @media (min-width: 640px) and (max-width: 1199px) {
    @content;
  }
}

@mixin for-phone() {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin desktop-grid() {
  display: grid;
  grid-template-columns: repeat(24, 32px);
  column-gap: 16px;
}

@mixin grid-tablet() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
}

@mixin grid-phone() {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}
