$color-primary: #313237;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-hover-bg: #fafbfc;
$color-white: #ffffff;
$color-green: #27ae60;
$color-red: #eb5757;
$color-shadow: #17203166;
$color-catalog: #6d6474;
$color-dark: #0f1121;
$color-dark-white: #f1f2f9;
$color-dark-shadow: #323542;
$color-dark-secondary: #75767f;
$color-dark-icons: #4a4d58;
$color-dark-element: #3b3e4a;
$color-dark-card: #161827;
$color-dark-button: #905bff;
$color-dark-button-hover: #a378ff;

$size: 40px;
$accent-opacity: 0.25;
$animation-timing-function: linear;
$animation-duration: 2s;

@mixin cardButton {
  font-family: 'Mont';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-right: 8px;
}
