$color-primary: #313237;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-elements: #e2e6e9;
$color-hover-bg: #fafbfc;
$color-white: #ffffff;
$color-green: #27ae60;
$color-red: #eb5757;
$color-shadow: #17203166;
$color-catalog: #6d6474;

@mixin cardButton {
  font-family: 'Mont';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  margin-right: 8px;
}
