@import '../../utils/variables.scss';
@import '../../utils/fonts.scss';

.pagination-button {
  box-sizing: border-box;
  font-family: Mont, 'sans-serif';
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border: 1px solid $color-elements;
  background-color: $color-white;
  color: $color-primary;
  margin: 0 4px;

  &--prev {
    border-color: $color-icons;
    margin-right: 12px;
  }

  &--next {
    border-color: $color-icons;
    margin-left: 12px;
  }

  &--is-active {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }

  &:hover {
    border-color: $color-primary;
  }
}

.disabled {
  border-color: $color-dark-element;
  background-color: $color-white;
  pointer-events: none;
  opacity: 0.5;

  > * {
    color: $color-dark-element;
  }
}

.dark-mode {
  .pagination-button {
    border-color: $color-dark-card;
    background-color: $color-dark-card;
    color: $color-dark-white;
    transition: all 0.3s;

    &--prev {
      border-color: $color-dark-shadow;
      background-color: $color-dark-shadow;
    }

    &--next {
      border-color: $color-dark-shadow;
      background-color: $color-dark-shadow;
    }

    &--is-active {
      color: $color-white;
      background-color: $color-dark-button;
      border-color: $color-dark-button;
    }

    &:hover {
      border-color: $color-dark-element;
      background-color: $color-dark-element;
    }
  }
}
