@import '../../utils/mixins.scss';
@import '../../utils//variables.scss';
@import '../../utils/fonts.scss';

* {
  box-sizing: border-box;
  text-decoration: none;
}

.footer-container {
  width: 100%;
  border-top: 1px solid $color-elements;
}

.footer {
  min-width: 320px;
  max-width: 1136px;
  margin: 0 auto;
  display: flex;
  scroll-behavior: smooth;
  position: relative;
  bottom: 0;
  width: 100%;
  flex-direction: column;
  gap: 32px;
  padding: 32px 16px;
  font-family: 'Mont', sans-serif;

  &__logo {
    height: 32px;
  }

  &__links {
    font-size: 12px;
    gap: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    text-transform: uppercase;
    &-link {
      color: $color-secondary;
      font-weight: 800;
      letter-spacing: 1px;
    }
  }

  &__return {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      color: $color-secondary;
      font-weight: 700;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover &-button {
        background-image: url('../../../public/img/vector-white.png');
        background-color: $color-primary;
        transition: background-color 0.3s ease-in-out;
      }

      &-text {
        font-family: 'Mont', sans-serif;
        font-size: 12px;
        font-weight: 700;
      }

      &-button {
        width: 32px;
        height: 32px;
        border: 1px solid $color-secondary;
        background-image: url('../../../public/img/vector.png');
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
      }
    }
  }
  @include for-tablet() {
    align-items: center;
    flex-direction: row;
    &__logo,
    &__links,
    &__return {
      flex: 1;
    }
    &__logo {
      margin-right: 0;
    }
    &__links {
      flex-direction: row;
      gap: 13.5px;
    }
  }
  @include for-desktop() {
    align-items: center;
    flex-direction: row;
    &__logo,
    &__links,
    &__return {
      flex: 1;
    }
    &__links {
      flex-direction: row;
    }
  }
}

.dark-mode {
  .footer-container {
    border-color: $color-dark-shadow;
  }
  .footer__links-link {
    color: $color-dark-white;
  }

  .footer__return-content-button {
    border-color: $color-dark-shadow;
    background-color: $color-dark-shadow;
    background-image: url(../../../public/img/vector-white.png);
  }

  .footer__return-content-button:hover {
    background-color: $color-dark-icons;
  }
}
