@import '../../utils/mixins.scss';
@import '../../utils/variables.scss';

.spec {
  font-family: Mont, 'sans-serif';
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 30px;

  &__name {
    color: $color-secondary;
  }
  &__value {
    color: $color-primary;
    text-align: right;
  }
}

.dark-mode {
  .spec__name {
    color: $color-dark-secondary;
  }
  .spec__value {
    color: $color-dark-white;
  }
}
